asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
crispy-bootstrap5==2024.2
distlib==0.3.8
Django==5.0.3
django-crispy-forms==2.1
filelock==3.13.3
idna==3.6
instamojo-wrapper==1.2.0
platformdirs==4.2.0
psycopg==3.1.18
# psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
urllib3==1.26.18
virtualenv==20.25.1
whitenoise==6.6.0
